.text {
    padding-top: 170px;
    line-height: 35px;
}

.padding {
    padding-top: 100px ;
    
}

.paragraph {
    font-size: 11px;
    padding-bottom: 90px;
}

.paragraph h6 {
    font-size: 13px;
}