.spacing {
    padding-top: 50px;
   
}

.card-text {
    font-size: 12px;
}

.spacingbottom {
  padding-top: 50px;
  padding-bottom: 50px;
 
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
}